@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Manrope", sans-serif;
  
  --color-primary: #af101a;
  --color-primary-container: #d32f2f;
  --color-on-primary: #ffffff;
  
  --color-surface: #f9f9f9;
  --color-surface-container: #eeeeee;
  --color-surface-container-low: #f3f3f4;
  --color-surface-container-highest: #e2e2e2;
  --color-surface-container-lowest: #ffffff;
  
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #5b403d;
  
  --color-tertiary-container: #00799c;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;700;800&display=swap');
